<div id="${this.widgetId}" style="position: absolute; left: 0px; top: 0px; z-index: 107; cursor: default;">
	<div dojoAttachPoint="mainPositionner" style="position: absolute; left: 730px; top: 112px; z-index: -3744190;">
		<div style="overflow: hidden; width: 25px; height: 25px; position: absolute; left: 0px; top: 0px;">
			<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 0px; top: 0px; width: 690px; height: 786px; -moz-user-select: none;"
				 src="${this.imageBubble}" />
		</div>
		<div style="overflow: hidden; width: 25px; height: 25px; position: absolute; left: 224px; top: 0px;">
			<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -665px; top: 0px; width: 690px; height: 786px; -moz-user-select: none;" 
				 src="${this.imageBubble}"  />
		</div>
		<div style="overflow: hidden; width: 98px; height: 96px; position: absolute; left: 76px; top: 65px;">
			<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 0px; top: -690px; width: 690px; height: 786px; -moz-user-select: none;"
				 src="${this.imageBubble}"  />
		</div>
		<div style="overflow: hidden; width: 25px; height: 25px; position: absolute; left: 0px; top: 65px;">
			<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 0px; top: -665px; width: 690px; height: 786px; -moz-user-select: none;"
				 src="${this.imageBubble}"  />
		</div>
		<div style="overflow: hidden; width: 25px; height: 25px; position: absolute; left: 224px; top: 65px;">
			<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -665px; top: -665px; width: 690px; height: 786px; -moz-user-select: none;"
				 src="${this.imageBubble}"  />
		</div>
		<div style="overflow: hidden; position: absolute; left: 25px; top: 0px; width: 199px; height: 25px;">
			<div style="overflow: hidden; width: 640px; height: 25px;">
				<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -25px; top: 0px; width: 690px; height: 786px; -moz-user-select: none;"
					 src="${this.imageBubble}"  />
			</div>
		</div>
		<div style="overflow: hidden; position: absolute; left: 0px; top: 25px; width: 25px; height: 40px;">
			<div style="overflow: hidden; width: 25px; height: 598px;">
				<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 0px; top: -25px; width: 690px; height: 786px; -moz-user-select: none;"
					 src="${this.imageBubble}"  />
			</div>
		</div>
		<div style="overflow: hidden; position: absolute; left: 224px; top: 25px; width: 25px; height: 40px;">
			<div style="overflow: hidden; width: 25px; height: 598px;">
				<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -665px; top: -25px; width: 690px; height: 786px; -moz-user-select: none;"
					 src="${this.imageBubble}"  />
			</div>
		</div>
		<div style="overflow: hidden; position: absolute; left: 25px; top: 65px; width: 51px; height: 25px;">
			<div style="overflow: hidden; width: 640px; height: 25px;">
				<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -25px; top: -665px; width: 690px; height: 786px; -moz-user-select: none;"
					 src="${this.imageBubble}"  />
			</div>
		</div>
		<div style="overflow: hidden; position: absolute; left: 174px; top: 65px; width: 50px; height: 25px;">
			<div style="overflow: hidden; width: 640px; height: 25px;">
				<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -25px; top: -665px; width: 690px; height: 786px; -moz-user-select: none;"
					 src="${this.imageBubble}"  />
			</div>
		</div>
		<div
			style="overflow: hidden; position: absolute; left: 25px; top: 25px; width: 199px; height: 40px;">
			<div style="overflow: hidden; width: 640px; height: 598px;">
				<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: -25px; top: -25px; width: 690px; height: 786px; -moz-user-select: none;"
					 src="${this.imageBubble}"  />
			</div>
		</div>
		<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 225px; top: 10px; width: 14px; height: 13px; -moz-user-select: none; z-index: 10000; cursor: pointer;"
			 src="${this.imageClose}" dojoAttachEvent="onClick:hide"/> 
		<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 207px; top: 10px; width: 14px; height: 13px; -moz-user-select: none; z-index: 10000; visibility: hidden; cursor: pointer;"
			 src="i${this.imageMaximize}" /> 
		<img style="border: 0px none ; margin: 0px; padding: 0px; position: absolute; left: 207px; top: 10px; width: 14px; height: 13px; -moz-user-select: none; z-index: 10001; visibility: hidden; cursor: pointer;"
			 src="${this.imageRestore}" />
		<!-- map id="iwMap0" name="iwMap0">
			<area shape="poly" href="javascript:void(0)"
				coords="0,0,0,90,129,90,80,161,174,90,249,90,249,0" />
			<area shape="poly" href="javascript:void(0)"
				coords="30,-21,27,-20,25,-19,23,-17,21,-13,21,-9,22,-7,23,-5,26,-2,28,2,29,5,30,9,30,13,32,13,32,9,33,5,34,3,35,0,37,-3,39,-5,41,-9,41,-13,39,-17,37,-19,36,-20,34,-21" />
			<area shape="poly" href="javascript:void(0)"
				coords="108,46,105,47,103,48,101,50,99,54,99,58,100,60,101,62,104,65,106,69,107,72,108,76,108,80,110,80,110,76,111,72,112,70,113,67,115,64,117,62,119,58,119,54,117,50,115,48,114,47,112,46" />
			<area shape="poly" href="javascript:void(0)"
				coords="81,159,78,160,76,161,74,163,72,167,72,171,73,173,74,175,77,178,79,182,80,185,81,189,81,193,83,193,83,189,84,185,85,183,86,180,88,177,90,175,92,171,92,167,90,163,88,161,87,160,85,159" />
		</map -->
		<img style="border: 0px none ; margin: 0px; padding: 0px; -moz-user-select: none; position: absolute; left: 0px; top: 0px; width: 249px; height: 161px;"
			src="${this.imageTransparent}" usemap="#iwMap0" />
		<div style="position: absolute; left: 16px; top: 16px; width: 217px; height: 58px; z-index: 10;">
			<div>
				<div>
					<div dojoattachpoint="containerNode" class="BubbleContent"></div>
				</div>
			</div>
		</div>
	</div>
</div>