table.dojoSelectableList {
	font-family:Lucida Grande, Verdana;
	font-size:0.8em;
	width:100%;
	border:1px solid #999;
	cursor:default;
}

table.dojoSelectableList td, table.dojoSelectableList th {
	/*border-right:1px solid #999;
	border-top:1px solid #999;*/
	padding:2px;
}

table.dojoSelectableList thead th {
	background:#94BEFF;
	height: 15px;
}


html>/**/body table.dojoSelectableList tbody { /**FF specific*/
	height: 300px;
	overflow-x:hidden;
	overflow-y: auto;
}

/** If IE a hack should be done : a div should suround the table*/

table.dojoSelectableList tbody td {
	background-color: #FFF;
	padding: 2px;
}

table.dojoSelectableList tbody tr.alternateRow td {
	background-color: #e3edfa;
	padding: 2px;
}

table.dojoSelectableList tbody tr.selected td {
	background-color: yellow;
	padding: 2px;
}
table.dojoSelectableList tbody tr.mouseOver td {
	background-color: #a6c2e7;
	padding: 2px;
}
table.dojoSelectableList tbody tr.selectedMouseOver td {
	background-color: #ff3;
	padding: 2px;
}
