<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Wicket Contrib Examples</display-name>

	<distributable />

	<context-param>
		<param-name>configuration</param-name>
		<param-value>development</param-value>
	</context-param>

	<filter>
		<filter-name>cdapp</filter-name>
		<filter-class>wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>
				wicket.examples.cdapp.CdApplication
			</param-value>
		</init-param>
		<init-param>
			<param-name>filterPath</param-name>
			<param-value>cdapp</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>NavMenuApplication</filter-name>
		<filter-class>wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>
				wicket.examples.navmenu.NavMenuApplication
			</param-value>
		</init-param>
		<init-param>
			<param-name>filterPath</param-name>
			<param-value>navmenu</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>VelocityTemplateApplication</filter-name>
		<filter-class>wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>
				wicket.contrib.examples.velocity.VelocityTemplateApplication
			</param-value>
		</init-param>
		<init-param>
			<param-name>filterPath</param-name>
			<param-value>velocitytemplate</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>FreeMarkerTemplateApplication</filter-name>
		<filter-class>wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>
				wicket.contrib.examples.freemarker.FreeMarkerTemplateApplication
			</param-value>
		</init-param>
		<init-param>
			<param-name>filterPath</param-name>
			<param-value>freemarkertemplate</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>cdapp</filter-name>
		<url-pattern>/cdapp/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>NavMenuApplication</filter-name>
		<url-pattern>/navmenu/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>VelocityTemplateApplication</filter-name>
		<url-pattern>/velocitytemplate/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>FreeMarkerTemplateApplication</filter-name>
		<url-pattern>/freemarkertemplate/*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
