table.dojoSelectableList {
	font-family:Lucida Grande, Verdana;
	font-size:0.8em;
	width:100%;
	border:1px solid #7f9dba;
	cursor:default;
}

table.dojoSelectableList td, table.dojoSelectableList th {
	/*border-right:1px solid #999;
	border-top:1px solid #999;*/
	padding:2px;
}

table.dojoSelectableList thead th {
	background-image: url("images/listHeader.gif");
	background-position:bottom;
	height: 15px;
}


html>/**/body table.dojoSelectableList tbody { /**FF specific*/
	height: 300px;
	overflow-x:hidden;
	overflow-y: auto;
}

/** If IE a hack should be done : a div should suround the table*/

table.dojoSelectableList tbody td {
	background-color: #FFF;
	padding: 2px;
}

table.dojoSelectableList tbody tr.alternateRow td {
	background-color: #F7F7F7;
	padding: 2px;
}

table.dojoSelectableList tbody tr.selected td {
	background-color: #316ac5;
	color : white;
	font-weight: bold;
	padding: 2px;
}
table.dojoSelectableList tbody tr.mouseOver td {
	background-color: #316ac5;
	color : white;
	padding: 2px;
}
table.dojoSelectableList tbody tr.selectedMouseOver td {
	background-color: #316ac5;
	color : white;
	padding: 2px;
}
