<?xml version="1.0" encoding="ISO-8859-1"?>
<${artifactId}-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/${artifactId}-app_2_4.xsd"
	 version="2.4">

	<display-name>wicket-persistence-${artifactId}</display-name>

	 <!--  
	      There are three means to configure Wickets configuration mode and they are
	      tested in the order given. 
	      1) A system property: -Dwicket.configuration
	      2) servlet specific <init-param>
	      3) context specific <context-param>
	      The value might be either "development" (reloading when templates change)
	      or "deployment". If no configuration is found, "development" is the default.
	-->



	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:AllInOneRepositoryContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			org.springframework.${artifactId}.context.ContextLoaderListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>${artifactId}</filter-name>
 		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>${package}.application.WicketApplication</param-value>
 		</init-param>
 	</filter>

 <filter-mapping>
  <filter-name>${artifactId}</filter-name>
	<url-pattern>/*</url-pattern>
 </filter-mapping>


</${artifactId}-app>
