#nav, #nav ul {
	float: left;
	width: 99.9%;
	list-style: none;
	line-height: 1;
	font-weight: bold;
	padding: 0;
	margin: 0;
	background:#BCCDDB;
	cursor: pointer;
}

#nav a {
	text-decoration: none;
}

#nav span.childmenutext {
	display: block;
	width: 13em;
	padding: 0.25em;
	cursor: default;
}

#nav a.childmenu span.childmenutext {
	color: white;
	cursor: pointer;
}

#nav li {
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: auto;
	background:#BCCDDB;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14.4em;
	w\idth: 13.9em;
	font-weight: normal;
	margin: 0;
}

#nav li li {
	padding-right: 1em;
	width: 13em;
	padding-left: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#nav li ul a {
	width: 13em;
	w\idth: 9em;
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.myhover ul ul, #nav li.myhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.myhover ul, #nav li li.myhover ul, #nav li li li.myhover ul {
	left: auto;
}

#nav li:hover, #nav li.myhover {
	background:#C8D7E3;
}

/* Used to add a down arrow icon if there are children */
#nav li span.menu-has-submenu {
	background-image:url(/wicketstuff-suckerfish-examples/resources/org.wicketstuff.suckerfish.SuckerfishMenuPanel/menu_has_submenu.gif);
	background-position: 100% 50%;
    background-repeat: no-repeat;
}
/* Used to add a right arrow icon if there are children */
#nav li li span.menu-has-submenu {
	background-image:url(/wicketstuff-suckerfish-examples/resources/org.wicketstuff.suckerfish.SuckerfishMenuPanel/submenu_has_submenu.gif);
	background-position: 100% 50%;
    background-repeat: no-repeat;
}
