.carousel-component {
	padding:0px;
	background-color:white;
	border:1px dotted #001667
}
.carousel-component .carousel-list li { 
	margin:4px;
	width:85px; /* img width is 75 px from flickr + a.border-left (1) + a.border-right(1) + 
	               img.border-left (1) + img.border-right (1) + a.margin (6)*/
	/*	margin-left: auto;*/ /* for testing IE auto issue */
}

.carousel-component .carousel-list li a { 
	display:block;
	margin:0px;
	border:1px solid white;
	outline:none;
	-moz-outline:none; 
	font-style: none;
	text-decoration: none;
}

.carousel-component .carousel-list li a:hover { 
	border: 1px solid #FF3399; 
	background-color: #FF3399;
	font-weight: bold;
	color : white;
}

.carousel-component .carousel-list li img { 
	border:1px solid #999;
	display:block; 
	margin:4px 0px 0px 4px;
}

.carousel-component .carousel-list li strong { 
	display:block; 
}
									

#prev-arrow { 
	position:absolute;
	top:40px;
	z-index:3;
	cursor:pointer; 
	left:5px; 
}

#next-arrow { 
	position:absolute;
	top:40px;
	z-index:3;
	cursor:pointer; 
	right:5px; 
}

.spotlight {
	border: 1px solid #FF3399;
	filter: alpha(opacity=100); -moz-opacity:1.0;
}

.non-spotlight {
	border: 1px solid #e2edfa;
	filter: alpha(opacity=60); -moz-opacity:0.6;
}

#preview {
	margin: 20px 100px 0px 0px;
	padding:4px;
	clear:both;
}

#preview img {
	border: 1px solid gray;
	padding:4px;
}

pre {
	font-size:10px;
}
