<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Wicket Appfuse</display-name>
    
    <!-- Url-rewrite specific filters -->
<!--    
    <filter>
      <filter-name>UrlRewriteFilter</filter-name>
      <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
      <!- - set the amount of seconds the conf file will be checked for reload
           can be a valid integer (0 denotes check every time,
           empty/not set denotes no reload check)          - ->
      <init-param>
          <param-name>confReloadCheckInterval</param-name>
          <param-value>10</param-value>
      </init-param>
      <!- - sets up log level (will be logged to context log)
           can be: TRACE, DEBUG, INFO, WARN, ERROR, FATAL  - ->
      <init-param>
          <param-name>logLevel</param-name>
          <param-value>DEBUG</param-value>
      </init-param>
      <!- - you can disable status page if desired
           can be: true, false (default true)              - ->
      <init-param>
          <param-name>statusEnabled</param-name>
          <param-value>true</param-value>
      </init-param>
      <!- - you can change status path so that it does not
           conflict with your installed apps (note, defaults
           to /rewrite-status) note, must start with /     - ->
      <!- - init-param>
          <param-name>statusPath</param-name>
          <param-value>/status</param-value>
      </init-param - ->
      <init-param>
          <param-name>ruleClass</param-name>
          <param-value>org.tuckey.web.filters.urlrewrite.JavaRegexRule</param-value>
      </init-param>
    </filter>

    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/addon/*.html</url-pattern>
    </filter-mapping>
-->    
    <!-- End-of: Url-rewrite specific filters -->
    
    <!-- Clickstream specific filters and listeners -->		
<!--
		<filter>
				<filter-name>clickstream</filter-name>
				<filter-class>com.opensymphony.clickstream.ClickstreamFilter</filter-class>
		</filter>
		
		<filter-mapping>
				<filter-name>clickstream</filter-name>
				<url-pattern>*.jsp</url-pattern>
		</filter-mapping>
		
		<filter-mapping>
				<filter-name>clickstream</filter-name>
				<url-pattern>*.html</url-pattern>
		</filter-mapping>
		
		<listener>
				<listener-class>com.opensymphony.clickstream.ClickstreamListener</listener-class>
		</listener>
-->		
    <!-- End of Clickstream specific filters and listeners -->		
<!--
	  <listener>
      <listener-class>
        appfuse.utils.UserCount
      </listener-class>
    </listener>

	  <listener>
      <listener-class>
        wicket.addons.utils.UserCount
      </listener-class>
    </listener>
-->		
    <servlet>
        <servlet-name>Wicket-Add-ons</servlet-name>
        <servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>wicket.addons.AddonApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
		
    <servlet>
        <servlet-name>Wicket-Add-ons-Admin</servlet-name>
        <servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>wicket.addons.AdminAddonApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Wicket-Add-ons</servlet-name>
        <url-pattern>/addon</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Wicket-Add-ons-Admin</servlet-name>
        <url-pattern>/addonAdmin</url-pattern>
    </servlet-mapping>

</web-app>
