body {
	color: #6F6F6F;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 9pt;
	line-height: 1.8em;
	padding: 10px;
	margin: 10px;
}

h1 {
	color: #E9601A;
	font-size: 14pt;
}

table.decorated {
	width: 100%;
	border-collapse: collapse;
}

table.decorated td {
	padding-right: 5px;
	padding-left: 5px;
}

table.decorated thead td {
	font-weight: bold;
	color: #FFF;
	background-color: #CCC;
}

table.decorated tbody td {
	border: 1px solid #CCC;
}