body, html {
	height: 100%;
}
body {
	font-family : "Lucide Sans Unicode", "Lucida Grande";
	background-color : black;
}
#doc {
	background-color : white;
	height : 100%;
	width: 750px;
}
#hd {
	background-image : url('logo.png');
	background-repeat : no-repeat;
	background-position-y : 15px;
	height : 164px;
	width : 720px;
	margin-left : auto;
	margin-right : auto;
}
#hd h1 {
	display : none;
}
#bd {
	width : 720px;
	margin-left : auto;
	margin-right : auto;
	padding : 10px;
}
#ft {
	height : 50px;
	text-align : center;
}
#yui-main {
	padding : 0 1em 0 1em;
}
p {
	padding-bottom : 1em;
}
