body {
    background-color : #888;
    font-family : Lucida Grande, Lucida Sans Unicode;
    font-size : 11pt;
    margin : 25px;
}

form, #main {
    margin : 0;
    margin-bottom : 10px;
    background-color : #eee;
    border : 5px solid #333;
    padding : 25px;
}

fieldset {
    border : none;
}

#spinner {
	float : right;
	margin : 10px;
}

#photos img {
   border : 1px solid #000;
   width : 75px;
   height : 75px;
   margin : 5px;
}

#helpinfo {
	display : block;
    margin : 0;
    margin-bottom : 10px;
    background-color : #eee;
    border : 5px solid #333;
    padding : 25px;
}