.ColorPicker {
	left: 0pt;
	position: relative;
	top: 0pt;
	z-index:0;
}

.ColorPickerLayout {
	height: 234px;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 282px;
	background: transparent url(images/ColourModMiniBGSmall.png) no-repeat scroll 0%;
}

.ColorPickerSelectorContainer {
	height: 150px;
	left: 14px;
	position: absolute;
	top: 43px;
	width: 150px;
}

.ColorPickerSlider {
	height: 168px;
	left: 185px;
	position: absolute;
	top: 44px;
	width: 40px;
}

.ColorPickerDisplayColor {
	background:#FFFFFF none repeat scroll 0% 50%;
	height:30px;
	left:160px;
	position:absolute;
	top:10px;
	width:55px;
}

.ColorPickerColorSelector {
	height: 21px;
	left: 120px;
	position: relative;
	top: 28px;
	width: 21px;
	z-index: 3;
	background: transparent url(images/BlueDot.png) no-repeat scroll 0%;
}

.ColorPickerSliderArrow {
	height: 21px;
	position: relative;
	width: 23px;
	z-index: 3;
	background: transparent url('images/BlueArrow.png') no-repeat scroll 0%;
}

.ColorPickerSelectorBg {
	background: #FF0000 none repeat scroll 0%;
	height: 150px;
	left: 29px;
	position: absolute;
	top: 50px;
	width: 150px;
}