.fixedTable {
   table-layout : fixed;
    width: 830px;
}

.fixedTable td {
    padding       : 0px 0px 0px 3px;
    margin        : 0px;
    border-bottom : 1px solid #b8b8b8;
    border-right  : 1px solid #b8b8b8;
    height        : 22px;
    *height		  : 21px;  
    overflow      : hidden;
    font-size     : 11px;
    font-family: verdana, arial, helvetica, sans-serif;
   	line-height: 12px;
}

.first {
   border-left  : 1px solid #b8b8b8;
}

.tableCellHeader {
   padding          : 2px 0px 2px 3px;
   text-align       : left;
   font-size        : 11px;
   border-top       : 1px solid #b8b8b8;
   border-right     : 1px solid #b8b8b8;
   background-color : #cedebd;
}

.tableContainer {
	width: 800px;
}