/*
 * CSS for Animated Thumbanil
 */
DIV.AnimatedThumbnailContainer
{
    display : table-cell;
}
 
DIV.AnimatedThumbnail
{
    position : relative;
}

DIV.AnimatedThumbnail IMG.Thumbnail 
{
    position : relative;
	z-index  : 2;
	border   : 0px solid #FF0000;
	cursor   : pointer;
}

DIV.AnimatedThumbnail DIV.Caption 
{
    position    : absolute;
	width       : 0px;
	height      : 0px;
    border      : 0px dashed #888888;
    overflow    : hidden;
	text-align  : center;
	cursor      : pointer;
	left        : 0;
	top         : 0;
}

DIV.Picture 
{
    position : absolute;
	overflow : hidden;
	width    : 0px;
	height   : 0px;
	padding  : 0px;
	margin   : 0px;
	z-index  : 2;
	background-color : #EEEEEE;
	border-style : solid;
	border-color : #DDDDDD;
    border-width : 0px;
    text-align : center;
}

DIV.Picture Table 
{
    width : 100%;
	height : 100%;
	text-align : center;
}

DIV.Picture TABLE img
{
	vertical-align : middle;
    cursor : pointer;
}

