.topAuth{
	margin: 100px 200px 0px 200px;
	background-image : url('images/pickwickColor.png');
	background-repeat: no-repeat;
	height: 50px;
}

.auth{
	white-space: nowrap;	
	border: 1px dotted #001667;
	/*-moz-border-radius: 15px;*/
	background-color: white;
	overflow: auto;
	margin: 0px 200px 100px 200px;
	line-height: 1.5em;
	padding : 20px;
	text-align:center;
}

.auth H2{
	color: #FF3399;
}

.auth form{
	width: 300px;
}

.auth form input{
	border:1px solid #001667;
}

.auth form input:HOVER{
	color:#FF3399;
}

.auth form input:FOCUS{
	background-color:#dfecf3;
	color:#FF3399;
}