<html xmlns:wicket="http://wicket.sourceforge.net/namespace">
<head>
  <title>Example CayenneListPanel HTML</title>
  <!--link rel="stylesheet" href="dynweb2.css" type="text/css" /-->
  <link rel="stylesheet" href="nav.css" type="text/css" />
  <link rel="stylesheet" href="pray.css" type="text/css" />
</head>
<body>
  <wicket:panel>
    <span wicket:id="pageableNav" />
    <table>
      <thead>
        <tr>
          <th>
            <select wicket:id="groupFilter">
              <option>option 1</option>
              <option>option 2</option>
              <option>option 3</option>
            </select>
          </th>
          <th>
            <select wicket:id="typeFilter">
              <option>option 1</option>
              <option>option 2</option>
              <option>option 3</option>
            </select>
          </th>
          <th>
            <input wicket:id="subjectFilter" type="text" size="10" />
          </th>
          <th>
            <select wicket:id="statusFilter">
              <option>option 1</option>
              <option>option 2</option>
              <option>option 3</option>
            </select>
          </th>
        </tr>
        <tr>
          <th wicket:id="groupHeader">Group</th>
          <th wicket:id="typeHeader">Type</th>
          <th wicket:id="subjectHeader">Subject</th>
          <th wicket:id="statusHeader">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="headerSeparator" colspan="4"> </tr>
	      <tr wicket:id="dataRow" class="oddRow">
	        <td><span wicket:id="group">(group)</span></td>
	        <td><span wicket:id="type">(type)</span></td>
	        <td><span wicket:id="subject">(subject)</span></td>
	        <td><span wicket:id="status">(status)</span></td>
	      </tr>
	      <wicket:remove>
		      <tr class="evenRow">
		        <td>(group)</td>
		        <td>(type)</td>
		        <td>(subject)</td>
		        <td>(status)</td>
		      </tr>
	      </wicket:remove>
      </tbody>
    </table>
  </wicket:panel>
</body>
</html>