.writable {
	color: #3311aa;
}

.readonly {
	color: #888;
}

.wicket-tree-table .editorContainer * {	
	display: inline;
	font-size: 8pt;
}

.wicket-tree-table .editorContainer a {
	cursor: pointer;
	float: none;
}

.wicket-tree-table form {
	margin: 0px;	
}

.detailPanel , .detailPanel .nameValue td{
	margin: 0px;
	color: #345678;
}

.detailPanel .editor {
	display: inline;
}



.detailPanel .operation button {
	color: #123456;
}

.detailPanel .operation .paramType {
	font-size: 0.8em;
	margin-left: 2em;
	font-style: italic;
}



.jmxTreePanel .jmxTree {
	float: left;
}

.jmxTreePanel .detailPanel {
	margin-bottom: 15px;
	border: 1px solid #999;
	float: left;	
}

.jmxTreePanel .operation {
	border-bottom: 1px solid #999;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.jmxTreePanel .operation-last .operation{
	border-bottom-width: 0px;	
}

.jmxTreePanel .operation .parameter {
	margin: 2px 0px;
}

.jmxTreePanel .operation .operationBody {
	padding: 5px;
	padding-bottom: 10px;
}

.jmxTreePanel .operationBody form {
	margin: 0px;	
}




.jmxTreeTable .operation {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.jmxTreeTable .operationBody {
	padding: 0px;
	margin: 0px;
}

.jmxTreeTable form, .jmxTreeTable form div {
	display: inline;
}

.jmxTreeTable .operation .paramType {
	font-size: 0.8em;	
	font-style: italic;
}

.jmxTreeTable .operation button {
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	vertical-align: middle;
	background-color: #fff;
	color: #3311aa;	
	font-weight: bold;
}

.jmxTreeTable .operation button:hover {
	text-decoration: underline;	
	cursor: pointer;
}

.jmxTreeTable .operation .parameter {
	margin: 0px;
}