.writable {	color: #3311aa; }

.readonly {	color: #888; }

.margin-top-20 { margin-top: 20px; }

.detailPanel , .detailPanel .nameValue td{
	margin: 0px;
	color: #345678;
}

.detailPanel .header {
	font-weight: bold;
}

.detailPanel .editor {
	display: inline;
}

.detailPanel .operation button {
	color: #123456;
}

.detailPanel .operation .paramType {
	font-size: 0.8em;	
	font-style: italic;
}

.jmxTreePanel .detailPanel {
	margin-bottom: 15px;
	border: 1px solid #999;
}

.jmxTreePanel .operation {
	border-bottom: 1px solid #999;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.jmxTreePanel .section td {
	background-color: #FFEAAD;
	border-color: #FFEAAD;
}

.jmxTreePanel .operation-last .operation{
	border-bottom-width: 0px;	
}

.jmxTreePanel .operation .parameter {
	margin: 2px 0px;
	display: inline;
}

.jmxTreePanel .operation .operationBody {
	padding: 5px;
	padding-bottom: 10px;
}

.jmxTreePanel .operationBody form {
	margin: 0px;	
}
