@import url(thumbnail.css);
@import url(backend.css);

body {
	background : url('images/bg.jpg');
	background-repeat:repeat-x;
	padding: 0 100px;
}

#header{
	background-image : url('images/pickwick-w.png');
	background-repeat: no-repeat;
	height: 100px;
}
.box{
	white-space: nowrap;	
	border: 1px solid #555555;
	background-color: black;
	-moz-border-radius: 15px;
	overflow: auto;
	margin: 10px;
	line-height: 1.5em;
	padding : 20px;
}

.photo{
	border: 2px black solid;
	background-color: white;
	padding : 15px;
	padding-bottom : 100px; 
	width: 640px;
}
