.thumbnail{
	text-decoration: none;
	
}

.thumbnail table{
	font-size: 0.8em;
	border-spacing: 0px;
	width : 115px;
	height : 80px;
	border: 1px black;
	margin: 5px;
}

.thumbnail table .label{
	color: white;
	text-decoration: none;
	height: 15px;
	overflow:hidden;
	width:100%;
}

.thumbnail:hover table .label {
	background-color: #46c308;
}
	
.thumbnail:hover table {
	border: 1px dotted #46c308;
}

.thumbnail table {
	/* need an invisible border to avoid flickering on hover */
	border: 1px dotted black;
}

.thumbnail img {
	border: 0px;
}


.thumbnail table td {
	text-align: center;
}

