.handlerSelected{
	background-image: url("images/handlerSelected.gif");
}

.handler{
	background-image: url("images/handler.gif");
}

.label{
	background-color: #C0C8ED;
	background-image: url("images/right.gif");
	background-position: right;
	background-repeat: no-repeat;
	float:left; 
	overflow: hidden;
}

.percentLabel{
	width: 100%;
	font-size: 10px;
	font-family: sans-serif;
	text-align: center;
}

.percentValue{
	width: 100%;
	font-size: 10px;
	font-family: sans-serif;
	text-align: center;
}