.table {
	border: 1px solid #666;
	width: 95%;
	margin: 20px 0 20px 0;
}
.table th {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
}
.table th, .table td {
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}
.table thead tr {
  background-color: #fc0;
}
.table th.sorted {
    background-color: orange;
}
.table th a, .table th a:visited {
  color: black;
}
.table th a:hover {
  text-decoration: underline;
  color: black;
}
.table th.sorted a, .table th.sortable a {
	background-position: right;
	display: block;
}
.table th.sortable a {
	background-image: url(../img/arrow_off.png);
}
.table th.order1 a {
	background-image: url(../img/arrow_down.png);
}
.table th.order2 a {
	background-image: url(../img/arrow_up.png);
}
.table tr.odd {
  background-color: #fff
}
.table tr.tableRowEven, tr.even {
  background-color: #fea
}
.table tbody tr:hover {
  background-color: #eee;
}
.table tbody tr td a {
	display: block;
}
