<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:spring-dao.properties</value>
      </list>
    </property>
  </bean>

  <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
    <property name="url"><value>${jdbc.url}</value></property>
    <property name="username"><value>${jdbc.username}</value></property>
    <property name="password"><value>${jdbc.password}</value></property>  
  </bean>
 
  <bean id="myTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="mappingResources">
      <list>
          <value>wicket/addons/dao/users.hbm.xml</value>
          <value>wicket/addons/dao/addons.hbm.xml</value>
          <value>wicket/addons/dao/categories.hbm.xml</value>
          <value>wicket/addons/dao/news.hbm.xml</value>
          <value>wicket/addons/dao/comments.hbm.xml</value>
          <value>wicket/addons/dao/ratings.hbm.xml</value>
          <value>wicket/addons/dao/clicks.hbm.xml</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <props>
          <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
          <prop key="hibernate.show_sql">true</prop>
      </props>
    </property>
    <property name="dataSource">
      <ref bean="myDataSource"/>
    </property>
  </bean>

  <bean id="UserDaoTarget" class="wicket.addons.dao.UserDaoImpl">
    <property name="sessionFactory">
        <ref bean="sessionFactory"/>
    </property>
  </bean>

  <bean id="AddonDaoTarget" class="wicket.addons.dao.AddonDaoImpl">
    <property name="sessionFactory">
        <ref bean="sessionFactory"/>
    </property>
  </bean>

  <bean id="myProductService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
    <property name="transactionManager">
      <ref bean="myTransactionManager"/>
    </property>
    <property name="target">
      <ref bean="UserDaoTarget"/>
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="increasePrice*">PROPAGATION_REQUIRED</prop>
        <prop key="someOtherBusinessMethod">PROPAGATION_MANDATORY</prop>
      </props>
    </property>
  </bean>

  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host"><value>smtp.gmail.com</value></property>
    <property name="port"><value>465</value></property>
    <property name="protocol"><value>smtps</value></property>
    <property name="username"><value>juergen.donnerstag</value></property>
    <property name="password"><value>spacie00</value></property>
  </bean>
  
  <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
      <property name="from"><value>wicket-addon@mycompany.com</value></property>
      <property name="subject"><value>Wicker-Addon</value></property>
  </bean>  

</beans>