<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host"><value>smtp.gmail.com</value></property>
    <property name="port"><value>465</value></property>
    <property name="protocol"><value>smtps</value></property>
    <property name="username"><value>juergen.donnerstag</value></property>
    <property name="password"><value>spacie00</value></property>
  </bean>
  
  <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
      <property name="from"><value>wicket-addon@mycompany.com</value></property>
      <property name="subject"><value>Wicker-Addon</value></property>
  </bean>  

</beans>