<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Wicket Contrib CDApp Example</display-name>

	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>OpenSessionInView</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
        <init-param>
             <param-name>singleSession</param-name>
             <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInView</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>cdapp2</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>wicket.examples.cdapp2.CdApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>cdapp2</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
