/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
table.blue {
	font-size: small;
	border-width: 0px;
	border-collapse: collapse;
}

table.blue input {
	border-top-color: rgb(171, 173, 179);
	border-left-color: rgb(226, 227, 234);
	border-right-color: rgb(219, 223, 230);
	border-bottom-color: rgb(227, 233, 239);
	border-style: solid;
	border-width: 1px;
	width: 100%;
	min-width: 50px;
	padding: 0;
	margin: 0;
	max-height: 16px;
}

table.blue th {
	background-image: url("header.png");
	height: 23px;
	color: black;
	border-right-color: rgb(213, 213, 213);
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px;
}

table.blue th:hover {
	background-image: url("headerRighlight.png");
}

table.blue tr {
	height: 18px;
	padding: 0;
	margin: 0;
}

table.blue td {
	height: 18px;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	border-right-color: rgb(213, 213, 213);
	border-right-width: 1px;
	border-right-style: solid;
}

table.blue tr.onMouseOver {
	background-image: url("rowOnMouseOver.png");
}

table.blue tr.selected {
	background-image: url("selected.png");
	background-repeat: repeat-x;
	color: black;
}

tr.odd {
	background-color: rgb(240, 240, 240);
}

tr.even {
	background-color: #FFFFFF;
}

tr.onMouseOver {
	background-color: #E9601A;
}

tr.selected {
	background-color: rgb(10, 36, 106);
	color: white;
}

img.arrow {
	float: right;
}

label.headerLabel {
	float: left;
}

input.editCell {
	width: 100%;
}

col.totalColumn {
	text-align: right;
}