tr.odd {
	background-color: rgb(240, 240, 240);
}

tr.even {
	background-color: #FFFFFF;
}

tr.onMouseOver {
	background-color: #E9601A;
}

tr.selected {
	background-color: rgb(10, 36, 106);
	color: white;
}

img.arrow {
	float: right;
}

label.headerLabel {
	float: left;
}