table {
	border-collapse: collapse;
	margin-top: 1em;
}
table th,
table td {
	vertical-align: top;
	border: 1px solid #eee;
	padding: 0.5em;
}

.pages {
	margin: 0 auto;
}

.pages em {
	font-style: normal;
}

.pages span,
.pages a {
	border: 1px solid #ddd;
	padding: 0.25em 0.75em;
	background-color: #fff;
	display: block;
	float: left;
	margin-right: 1px;
}

.pages span span,
.pages a span,
.pages span a {
	border: 0;
	padding: 0;
	display: block;
}

.pages:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
