.drag1 {
	border: 1px dotted red;
}

.drag2 {
	border: 1px solid aqua;
}

.drag3 {
	border: 4px dotted red;
}

.drag4 {
	border: 4px dashed yellow;
}

.drag5 {
	background-color: #eee;
	border: 1px solid black;
}

.custom-drop-indicator {
	border: 2px solid red;
}