.dayContainer{
	font-size:9px;
	border-color: #AAAAAA;
}

.timeArea{
	 font-size:9px;
	 border-color: #AAAAAA;
}

.calendarContainer{
	background-color: #F0F0F0;
}

.calendarLeftGrid{
	 border-color: #AAAAAA; 
	 font-size: 8px; 
	 text-align: center;
}

.CalendarDayTitle{
	font-size: 10px
}

.CalendarTimeRangeOnCreation{
	border-color: #0000FF;
	background-color: #AAAAFF;
}

.CalendarTimeRangeOnCreated{
	border-color: #0000FF;
	background-color: #4444FF;
}

.CalendarTimeRangeOnSelected{
	border-color: #0000FF;
	background-color: #4400FF;
}