<div class="ColorPicker">
	<div id="cmDefault">
		<div dojoAttachPoint="displayColor" class="ColorPickerDisplayColor"></div>
		<div dojoAttachPoint="selectorBg" class="ColorPickerSelectorBg"></div>
		
		<div class="ColorPickerLayout"></div>
		<div class="ColorPickerSelectorContainer">
			<div dojoAttachPoint="colorSelector" class="ColorPickerColorSelector"></div>
		</div>
		<div class="ColorPickerSlider">
			<div dojoAttachPoint="arrow" class="ColorPickerSliderArrow"></div>
		</div>
		<div>
			<input style="display:none" dojoAttachPoint="hexaColor" maxlength="6" name="cmHex" size="9" type="text" />
		</div>
	</div>
</div>