<div id="${this.widgetId}">
	<div dojoAttachEvent="onmousewheel:_mouseWheeled;" style="overflow: hidden; float: left; border: 1px solid rgb(171, 171, 171); height: 220px;" class="tableContainer" dojoattachpoint="content">
		<table dojoattachpoint="contentTable" id="${this.widgetId}_ContentTable" cellspacing="0" cellpadding="0" style="border-left: 1px solid rgb(171, 171, 171);" class="fixedTable">
			<tbody dojoAttachPoint="containerNode">
			</tbody>
		</table>
	</div>
	<div dojoattachpoint="scroller" style="border-right: 1px solid rgb(171, 171, 171); overflow: auto; position: relative; left: -3px; width: 19px; height: 220px;">
		<div id="scrolled" style="width: 1px;" dojoattachpoint="scrollerContent"/>
	</div>
</div>